<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="AudioWorks.UI.Modules.Apple.dll" moduleType="AudioWorks.UI.Modules.Apple.AppleModule, AudioWorks.UI.Modules.Apple, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AppleModule" startupLoaded="True" />
    <module assemblyFile="AudioWorks.UI.Modules.Flac.dll" moduleType="AudioWorks.UI.Modules.Flac.FlacModule, AudioWorks.UI.Modules.Flac, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FlacModule" startupLoaded="True" />
    <module assemblyFile="AudioWorks.UI.Modules.Id3.dll" moduleType="AudioWorks.UI.Modules.Id3.Id3Module, AudioWorks.UI.Modules.Id3, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Id3Module" startupLoaded="True" />
    <module assemblyFile="AudioWorks.UI.Modules.Lame.dll" moduleType="AudioWorks.UI.Modules.Lame.LameModule, AudioWorks.UI.Modules.Lame, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="LameModule" startupLoaded="True" />
    <module assemblyFile="AudioWorks.UI.Modules.Mp4.dll" moduleType="AudioWorks.UI.Modules.Mp4.Mp4Module, AudioWorks.UI.Modules.Mp4, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Mp4Module" startupLoaded="True" />
    <module assemblyFile="AudioWorks.UI.Modules.Opus.dll" moduleType="AudioWorks.UI.Modules.Opus.OpusModule, AudioWorks.UI.Modules.Opus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="OpusModule" startupLoaded="True" />
    <module assemblyFile="AudioWorks.UI.Modules.ReplayGain.dll" moduleType="AudioWorks.UI.Modules.ReplayGain.ReplayGainModule, AudioWorks.UI.Modules.ReplayGain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ReplayGainModule" startupLoaded="True" />
    <module assemblyFile="AudioWorks.UI.Modules.Vorbis.dll" moduleType="AudioWorks.UI.Modules.Vorbis.VorbisModule, AudioWorks.UI.Modules.Vorbis, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="VorbisModule" startupLoaded="True" />
  </modules>
</configuration>