<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="AudioWorks.UI.Modules.Flac.dll" moduleType="AudioWorks.UI.Modules.Flac.FlacModule, AudioWorks.UI.Modules.Flac, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FlacModule" startupLoaded="True" />
  </modules>
</configuration>